$primary-color: #FA5C4F;
$font-color: #272727;
$light-gray: #a2a2a2;
$bg-color: #fffbf2;
$primary-gradient: linear-gradient(to right, #FA5C4F 0%, #FF7F00 100%);
$btn-gradient: linear-gradient(to bottom, #FA5C4F 0%, #FF7F00 100%);


$font-sm: 12px;
$font-nor: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-lr: 24px;

$radius-lr: 40px;
$radius-sm: 8px;

// TODO mainのpadding
html{
  height: 100%;
}
body{
  color: $font-color;
}
.main{
  padding-top: 24px;
}
a{
  text-decoration: none;
}
.inner{
  padding: 0 16px;
}
@mixin btn($bg, $col, $width: 100%){
  background-color: $bg;
  color: $col;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: $radius-lr;
  display: block;
  width: $width;
  margin: 0 auto 16px;
}
@mixin circleBtn($size, $pad: 8px){
  width: $size;
  height: $size;
  background: $btn-gradient;
  position: absolute;
  right: 16px;
  border-radius: 50%;
  z-index: 2;
  padding: $pad;
  img{
    display: block;
    width: 100%;
  }
}

.modalCard {
  &__container{
    padding: 16px;
  }
  &__title{
    color: $primary-color;
    font: {
      weight: bold;
      size: $font-lr;
    }
    margin-bottom: $font-lr;
  }
  &__userIcon{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto 16px;
    position: relative;
    input[type="file"]{
      opacity: 0;
      position: absolute;
      display: block;
      top: 0;
      width: 120px;
      height: 100%;
    }
    .userImg{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__Img{
    width: 100%;
    height: 170px;
    position: relative;
    background: $light-gray;
  }
}


%psedo{
  content: '';
  position: absolute;
}
.theme--light.v-application{
  background: none;
}