$primary-color: #fa5c4f;
$font-color: #272727;
$light-gray: #a2a2a2;
$bg-color: #fffbf2;
$primary-gradient: linear-gradient(to right, #fa5c4f 0%, #ff7f00 100%);
$btn-gradient: linear-gradient(to bottom, #fa5c4f 0%, #ff7f00 100%);

$font-sm: 12px;
$font-nor: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-lr: 24px;

$radius-lr: 40px;
$radius-sm: 8px;

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
html {
  height: 100%;
}
body {
  color: $font-color;
}
// TODO mainのpadding
.main {
  padding-top: 24px;
}
a {
  text-decoration: none;
}
img{
  width: 100%;
  vertical-align: bottom;
}
.inner {
  padding: 16px 16px 0;
}
li {
  list-style: none;
}
@mixin btn($bg, $col, $width: 100%) {
  background-color: $bg;
  color: $col !important;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: $radius-lr;
  display: block;
  width: $width;
  margin: 0 auto 16px;
}
@mixin circleBtn($size, $pad: 8px) {
  width: $size;
  height: $size;
  background: $btn-gradient;
  position: fixed;
  right: 16px;
  border-radius: 50%;
  z-index: 2;
  padding: $pad;
  img {
    display: block;
    width: 100%;
  }
}
@mixin title($col) {
  font: {
    weight: bold;
    size: $font-lr;
  }
  color: $col;
}
%input {
  opacity: 0;
  position: absolute;
  display: block;
  top: 0;
  width: 120px;
  height: 100%;
}
.modalCard {
  &__container {
    padding: 16px;
  }
  &__title {
    color: $primary-color;
    font: {
      weight: bold;
      size: $font-lr;
    }
    margin-bottom: $font-lr;
  }
  &__userIcon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto 16px;
    position: relative;
    input[type="file"] {
      @extend %input;
    }
    .userImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &__post {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    input[type="file"] {
      @extend %input;
      width: 100%;
    }
    .dummy-img {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $light-gray;
      padding: 40px 32px;
      img {
        max-width: 65px;
      }
    }
  }
  &__lunchImg{
    width: 100%;
    height: 170px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // &__Img {
  //   width: 100%;
  //   height: 170px;
  //   position: relative;
  //   background: $light-gray;
  // }
}
.detail{
  &__container{
    padding-bottom: 80px;
  }
  &__userInfo{
    display: flex;
    justify-content: space-between;
    dl{
      display: flex;
      align-items: center;
      dt{
        width: 27px;
        height: 27px;
        margin-right: 8px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      dd{
        width: calc(100% - 35px);
      }
    }
  }
  &__date{
      font-size: 14px;
      color: $light-gray;
      text-align: right;
      margin-bottom: 8px !important;
    }
  &__btns{
    display: flex;
    justify-content: flex-end;
    margin: 0 0 8px auto;
    .btn-primary{
      display: inline-block;
      width: 80px;
      margin: 0 8px 0 0;
    }
  }
  &__img{
    margin-bottom: 24px;
  }
  &__name{
    @include title($primary-color);
    margin-bottom: 8px;
  }
  &__menu{
    font-weight: bold;
    margin-bottom: 8px;
  }
  &__price{
    font-size: 14px;
    text-align: right;
    margin-bottom: 24px !important;
  }
  &__comment{
    background: $bg-color;
    padding: 16px;
    border-radius: 8px;
  }
}


%psedo {
  content: "";
  position: absolute;
}
%psedo-all {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.theme--light.v-application {
  background: none;
}
.v-application ul,
.v-application ol {
  padding-left: 0;
}
.v-application p {
  margin-bottom: 0;
}
