$primary-color: #FA5C4F;
$font-color: #272727;
$light-gray: #a2a2a2;
$bg-color: #fffbf2;
$primary-gradient: linear-gradient(to right, #FA5C4F 0%, #FF7F00 100%);


$font-sm: 12px;
$font-nor: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-lr: 24px;

a{
  text-decoration: none;
}
.inner{
  padding: 0 16px;
}